# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

### Create Database:

In [3]:
from create_tables import create_database
cur, conn = create_database()

### Or, get DB-Connection

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

### Create Tables, if necessary:

In [5]:
from create_tables import create_tables
create_tables(cur, conn)

### Helper Function:

In [6]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [7]:
song_files = get_files('data/song_data')

In [7]:
song_files

['/home/workspace/data/song_data/A/A/A/TRAAAAW128F429D538.json',
 '/home/workspace/data/song_data/A/A/A/TRAAAVG12903CFA543.json',
 '/home/workspace/data/song_data/A/A/A/TRAAARJ128F9320760.json',
 '/home/workspace/data/song_data/A/A/A/TRAAAPK128E0786D96.json',
 '/home/workspace/data/song_data/A/A/A/TRAAABD128F429CF47.json',
 '/home/workspace/data/song_data/A/A/A/TRAAAMO128F1481E7F.json',
 '/home/workspace/data/song_data/A/A/A/TRAAAMQ128F1460CD3.json',
 '/home/workspace/data/song_data/A/A/A/TRAAAVO128F93133D4.json',
 '/home/workspace/data/song_data/A/A/A/TRAAAEF128F4273421.json',
 '/home/workspace/data/song_data/A/A/A/TRAAAFD128F92F423A.json',
 '/home/workspace/data/song_data/A/A/A/TRAAADZ128F9348C2E.json',
 '/home/workspace/data/song_data/A/A/A/.ipynb_checkpoints/TRAAAAW128F429D538-checkpoint.json',
 '/home/workspace/data/song_data/A/A/A/.ipynb_checkpoints/TRAAAVO128F93133D4-checkpoint.json',
 '/home/workspace/data/song_data/A/A/A/.ipynb_checkpoints/TRAAAVG12903CFA543-checkpoint.json',
 '/home/workspace/data/song_data/A/A/B/TRAABNV128F425CEE1.json',
 '/home/workspace/data/song_data/A/A/B/TRAABRB128F9306DD5.json',
 '/home/workspace/data/song_data/A/A/B/TRAABLR128F423B7E3.json',
 '/home/workspace/data/song_data/A/A/B/TRAABDL12903CAABBA.json',
 '/home/workspace/data/song_data/A/A/B/TRAABJL12903CDCF1A.json',
 '/home/workspace/data/song_data/A/A/B/TRAABVM128F92CA9DC.json',
 '/home/workspace/data/song_data/A/A/B/TRAABYN12903CFD305.json',
 '/home/workspace/data/song_data/A/A/B/TRAABXG128F9318EBD.json',
 '/home/workspace/data/song_data/A/A/B/TRAABCL128F4286650.json',
 '/home/workspace/data/song_data/A/A/B/TRAABYW128F4244559.json',
 '/home/workspace/data/song_data/A/A/B/TRAABJV128F1460C49.json',
 '/home/workspace/data/song_data/A/A/B/.ipynb_checkpoints/TRAABJV128F1460C49-checkpoint.json',
 '/home/workspace/data/song_data/A/A/B/.ipynb_checkpoints/TRAABYW128F4244559-checkpoint.json',
 '/home/workspace/data/song_data/A/A/B/.ipynb_checkpoints/TRAABYN12903CFD305-checkpoint.json',
 '/home/workspace/data/song_data/A/A/C/TRAACVS128E078BE39.json',
 '/home/workspace/data/song_data/A/A/C/TRAACPE128F421C1B9.json',
 '/home/workspace/data/song_data/A/A/C/TRAACLV128F427E123.json',
 '/home/workspace/data/song_data/A/A/C/TRAACER128F4290F96.json',
 '/home/workspace/data/song_data/A/A/C/TRAACTB12903CAAF15.json',
 '/home/workspace/data/song_data/A/A/C/TRAACFV128F935E50B.json',
 '/home/workspace/data/song_data/A/A/C/TRAACIW12903CC0F6D.json',
 '/home/workspace/data/song_data/A/A/C/TRAACOW128F933E35F.json',
 '/home/workspace/data/song_data/A/A/C/TRAACHN128F1489601.json',
 '/home/workspace/data/song_data/A/A/C/TRAACCG128F92E8A55.json',
 '/home/workspace/data/song_data/A/A/C/TRAACQT128F9331780.json',
 '/home/workspace/data/song_data/A/A/C/TRAACNS128F14A2DF5.json',
 '/home/workspace/data/song_data/A/A/C/TRAACSL128F93462F4.json',
 '/home/workspace/data/song_data/A/A/C/TRAACZK128F4243829.json',
 '/home/workspace/data/song_data/A/B/A/TRABAIO128F42938F9.json',
 '/home/workspace/data/song_data/A/B/A/TRABAWW128F4250A31.json',
 '/home/workspace/data/song_data/A/B/A/TRABAZH128F930419A.json',
 '/home/workspace/data/song_data/A/B/A/TRABAVQ12903CBF7E0.json',
 '/home/workspace/data/song_data/A/B/A/TRABAXR128F426515F.json',
 '/home/workspace/data/song_data/A/B/A/TRABAXL128F424FC50.json',
 '/home/workspace/data/song_data/A/B/A/TRABAFJ128F42AF24E.json',
 '/home/workspace/data/song_data/A/B/A/TRABAXV128F92F6AE3.json',
 '/home/workspace/data/song_data/A/B/A/TRABACN128F425B784.json',
 '/home/workspace/data/song_data/A/B/A/TRABATO128F42627E9.json',
 '/home/workspace/data/song_data/A/B/A/TRABAFP128F931E9A1.json',
 '/home/workspace/data/song_data/A/B/A/.ipynb_checkpoints/TRABAXV128F92F6AE3-checkpoint.json',
 '/home/workspace/data/song_data/A/B/A/.ipynb_checkpoints/TRABACN128F425B784-checkpoint.json',
 '/home/workspace/data/song_data/A/B/A/.ipynb_checkpoints/TRABAIO128F42938F9-checkpoint.json',
 '/home/workspace/data/song_data/A/B/A/.ipynb_checkpoints/TRABAFJ128F42AF24E-checkpoint.json',
 '/home/workspace/data/song_data/A/B/A/.ipynb_checkpoints/TRABAFP128F931E9A1-checkpoint.json',
 '/home/workspace/data/song_data/A/B/A/.ipynb_checkpoints/TRABAXL128F424FC50-checkpoint.json',
 '/home/workspace/data/song_data/A/B/A/.ipynb_checkpoints/TRABAVQ12903CBF7E0-checkpoint.json',
 '/home/workspace/data/song_data/A/B/A/.ipynb_checkpoints/TRABAXR128F426515F-checkpoint.json',
 '/home/workspace/data/song_data/A/B/B/TRABBVJ128F92F7EAA.json',
 '/home/workspace/data/song_data/A/B/B/TRABBXU128F92FEF48.json',
 '/home/workspace/data/song_data/A/B/B/TRABBAM128F429D223.json',
 '/home/workspace/data/song_data/A/B/B/TRABBZN12903CD9297.json',
 '/home/workspace/data/song_data/A/B/B/TRABBNP128F932546F.json',
 '/home/workspace/data/song_data/A/B/B/TRABBOR128F4286200.json',
 '/home/workspace/data/song_data/A/B/B/TRABBOP128F931B50D.json',
 '/home/workspace/data/song_data/A/B/B/TRABBLU128F93349CF.json',
 '/home/workspace/data/song_data/A/B/B/TRABBBV128F42967D7.json',
 '/home/workspace/data/song_data/A/B/B/TRABBJE12903CDB442.json',
 '/home/workspace/data/song_data/A/B/B/TRABBKX128F4285205.json',
 '/home/workspace/data/song_data/A/B/B/TRABBTA128F933D304.json',
 '/home/workspace/data/song_data/A/B/B/.ipynb_checkpoints/TRABBAM128F429D223-checkpoint.json',
 '/home/workspace/data/song_data/A/B/B/.ipynb_checkpoints/TRABBTA128F933D304-checkpoint.json',
 '/home/workspace/data/song_data/A/B/B/.ipynb_checkpoints/TRABBVJ128F92F7EAA-checkpoint.json',
 '/home/workspace/data/song_data/A/B/B/.ipynb_checkpoints/TRABBZN12903CD9297-checkpoint.json',
 '/home/workspace/data/song_data/A/B/B/.ipynb_checkpoints/TRABBJE12903CDB442-checkpoint.json',
 '/home/workspace/data/song_data/A/B/C/TRABCEI128F424C983.json',
 '/home/workspace/data/song_data/A/B/C/TRABCUQ128E0783E2B.json',
 '/home/workspace/data/song_data/A/B/C/TRABCTK128F934B224.json',
 '/home/workspace/data/song_data/A/B/C/TRABCIX128F4265903.json',
 '/home/workspace/data/song_data/A/B/C/TRABCEC128F426456E.json',
 '/home/workspace/data/song_data/A/B/C/TRABCPZ128F4275C32.json',
 '/home/workspace/data/song_data/A/B/C/TRABCXB128F4286BD3.json',
 '/home/workspace/data/song_data/A/B/C/TRABCAJ12903CDFCC2.json',
 '/home/workspace/data/song_data/A/B/C/TRABCFL128F149BB0D.json',
 '/home/workspace/data/song_data/A/B/C/TRABCKL128F423A778.json',
 '/home/workspace/data/song_data/A/B/C/TRABCRU128F423F449.json',
 '/home/workspace/data/song_data/A/B/C/TRABCYE128F934CE1D.json',
 '/home/workspace/data/song_data/A/B/C/.ipynb_checkpoints/TRABCEI128F424C983-checkpoint.json',
 '/home/workspace/data/song_data/A/B/C/.ipynb_checkpoints/TRABCAJ12903CDFCC2-checkpoint.json',
 '/home/workspace/data/song_data/A/B/C/.ipynb_checkpoints/TRABCXB128F4286BD3-checkpoint.json',
 '/home/workspace/data/song_data/A/B/C/.ipynb_checkpoints/TRABCRU128F423F449-checkpoint.json']

In [8]:
filepath = song_files[0]
filepath

'/home/workspace/data/song_data/A/A/A/TRAAAAW128F429D538.json'

In [9]:
df = pd.read_json(filepath, lines=True)
df.head(3)

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARD7TVE1187B99BFB1,NaN,California - LA,NaN,Casual,218.93179,1,SOMZWCG12A8C13C480,I Didn't Mean To,0

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [10]:
song_data = df[['song_id','title','artist_id', 'year', 'duration']]
song_data

              song_id             title           artist_id  year   duration
0  SOMZWCG12A8C13C480  I Didn't Mean To  ARD7TVE1187B99BFB1     0  218.93179

In [11]:
song_data = song_data.values.tolist()[0]
song_data

['SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.93179]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [12]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [13]:
artist_data = df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']]
artist_data

,artist_id,artist_name,artist_location,artist_latitude,artist_longitude
0,ARD7TVE1187B99BFB1,Casual,California - LA,NaN,NaN

In [14]:
artist_data = artist_data.values.tolist()[0]
artist_data

['ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [15]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [16]:
log_files = get_files('data/log_data')

In [17]:
filepath = log_files[0]
filepath

'/home/workspace/data/log_data/2018/11/2018-11-30-events.json'

In [18]:
df = pd.read_json(filepath, lines=True)
df.head(3)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Stephen Lynch,Logged In,Jayden,M,0,Bell,182.85669,free,"Dallas-Fort Worth-Arlington, TX",PUT,NextSong,1.540992e+12,829,Jim Henson's Dead,200,1543537327796,Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...,91
1,Manowar,Logged In,Jacob,M,0,Klein,247.56200,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Shell Shock,200,1543540121796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
2,Morcheeba,Logged In,Jacob,M,1,Klein,257.41016,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Women Lose Weight (Feat: Slick Rick),200,1543540368796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73

In [19]:
df.query("page != 'NextSong'").head(5)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
8,None,Logged In,Alivia,F,0,Terrell,NaN,free,"Parkersburg-Vienna, WV",GET,Home,1.540505e+12,1070,None,200,1543541644796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",4
20,None,Logged In,Jacob,M,18,Klein,NaN,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,Logout,1.540558e+12,1049,None,307,1543544360796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
21,None,Logged Out,None,None,19,None,NaN,paid,None,GET,Home,NaN,1049,None,200,1543544407796,None,
22,None,Logged In,Aiden,M,0,Hess,NaN,free,"La Crosse-Onalaska, WI-MN",GET,Home,1.540829e+12,986,None,200,1543547152796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",86
28,None,Logged In,Layla,F,0,Griffin,NaN,paid,"Lake Havasu City-Kingman, AZ",GET,Home,1.541057e+12,1051,None,200,1543548391796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [20]:
df = df.query("page=='NextSong'")
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Stephen Lynch,Logged In,Jayden,M,0,Bell,182.85669,free,"Dallas-Fort Worth-Arlington, TX",PUT,NextSong,1.540992e+12,829,Jim Henson's Dead,200,1543537327796,Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...,91
1,Manowar,Logged In,Jacob,M,0,Klein,247.56200,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Shell Shock,200,1543540121796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
2,Morcheeba,Logged In,Jacob,M,1,Klein,257.41016,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Women Lose Weight (Feat: Slick Rick),200,1543540368796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
3,Maroon 5,Logged In,Jacob,M,2,Klein,231.23546,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Won't Go Home Without You,200,1543540625796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Train,Logged In,Jacob,M,3,Klein,216.76363,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Hey_ Soul Sister,200,1543540856796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73

Remember: **Epoch is given here in ms!**

In [21]:
t = df['ts']
t.head(5)

0    1543537327796
1    1543540121796
2    1543540368796
3    1543540625796
4    1543540856796
Name: ts, dtype: int64

In [22]:
time_stamp = pd.Series(pd.to_datetime(t, unit='ms'))
time_stamp.head(5)

0   2018-11-30 00:22:07.796
1   2018-11-30 01:08:41.796
2   2018-11-30 01:12:48.796
3   2018-11-30 01:17:05.796
4   2018-11-30 01:20:56.796
Name: ts, dtype: datetime64[ns]

In [23]:
# Isn't used below, just as practice:
#epoch = (time_series - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')
epoch = t // 1000
epoch.head(5)

0    1543537327
1    1543540121
2    1543540368
3    1543540625
4    1543540856
Name: ts, dtype: int64

In [24]:
time_stamp.dt.week.head()

0    48
1    48
2    48
3    48
4    48
Name: ts, dtype: int64

In [25]:
# timestamp, hour, day, week of year, month, year, and weekday
time_data = (time_stamp, time_stamp.dt.hour, time_stamp.dt.day, time_stamp.dt.week, time_stamp.dt.month, time_stamp.dt.year, time_stamp.dt.weekday)
column_labels = ('timestamp', 'hour', 'day', 'week of year', 'month', 'year', 'weekday')

In [26]:
timedata_dict = dict(zip(column_labels, time_data))

In [27]:
time_df = pd.DataFrame.from_dict(timedata_dict)
time_df.head(8)

                timestamp  hour  day  week of year  month  year  weekday
0 2018-11-30 00:22:07.796     0   30            48     11  2018        4
1 2018-11-30 01:08:41.796     1   30            48     11  2018        4
2 2018-11-30 01:12:48.796     1   30            48     11  2018        4
3 2018-11-30 01:17:05.796     1   30            48     11  2018        4
4 2018-11-30 01:20:56.796     1   30            48     11  2018        4
5 2018-11-30 01:24:32.796     1   30            48     11  2018        4
6 2018-11-30 01:28:19.796     1   30            48     11  2018        4
7 2018-11-30 01:32:00.796     1   30            48     11  2018        4

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [28]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [29]:
 df.columns

Index(['artist', 'auth', 'firstName', 'gender', 'itemInSession', 'lastName',
       'length', 'level', 'location', 'method', 'page', 'registration',
       'sessionId', 'song', 'status', 'ts', 'userAgent', 'userId'],
      dtype='object')

In [30]:
user_df = df[['userId', 'firstName', 'lastName', 'gender', 'level']]
user_df.head(10)

   userId firstName lastName gender level
0      91    Jayden     Bell      M  free
1      73     Jacob    Klein      M  paid
2      73     Jacob    Klein      M  paid
3      73     Jacob    Klein      M  paid
4      73     Jacob    Klein      M  paid
5      73     Jacob    Klein      M  paid
6      73     Jacob    Klein      M  paid
7      73     Jacob    Klein      M  paid
9      73     Jacob    Klein      M  paid
10     73     Jacob    Klein      M  paid

*Obviously redundant information in the above list, which means we have to pay attention when inserting duplicates into the table*

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [31]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [32]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [33]:
song_select_tmp = ("""
    SELECT s.song_id, s.artist_id FROM songs_dim s JOIN artists_dim a ON s.artist_id = a.artist_id WHERE title=%s AND name=%s AND duration=%s
""")

In [34]:
df.columns

Index(['artist', 'auth', 'firstName', 'gender', 'itemInSession', 'lastName',
       'length', 'level', 'location', 'method', 'page', 'registration',
       'sessionId', 'song', 'status', 'ts', 'userAgent', 'userId'],
      dtype='object')

In [39]:
for index, row in df.iterrows():
    #print(row.song, row.artist, row.length)
    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    #print(results)
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    # Leave out songplay_id, as it is autoincremented
    songplay_data = (pd.to_datetime(row.ts, unit='ms'), row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent)
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

# [Optional] Example Queries

In [86]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

### Query: List all songs in songs_dim

In [29]:
query_songs = """
    SELECT title, song_id
    FROM songs_dim
"""

In [30]:
cur.execute(query_songs)

In [31]:
results = cur.fetchall()
results

[("I Didn't Mean To", 'SOMZWCG12A8C13C480'),
 ('Insatiable (Instrumental Version)', 'SOUDSGM12AC9618304'),
 ('Pink World', 'SOIAZJW12AB01853F1'),
 ('Drop of Rain', 'SOHKNRJ12A6701D1F8'),
 ('Soul Deep', 'SOCIWDW12A8C13D406'),
 ('The Moon And I (Ordinary Day Album Version)', 'SOYMRWW12A6D4FAB14'),
 ('Keepin It Real (Skit)', 'SOMJBYD12A6D4F8557'),
 ('Young Boy Blues', 'SOQHXMF12AB0182363'),
 ('Something Girls', 'SONHOTT12A8C13493C'),
 ('Face the Ashes', 'SOFSOCN12A8C143F5D'),
 ('Amor De Cabaret', 'SOXVLOJ12AB0189215'),
 ('High Tide', 'SOUQQEA12A8C134B1B'),
 ('Sohna Nee Sohna Data', 'SOILPQQ12AB017E82A'),
 ('Floating', 'SOHUOAP12A8AE488E9'),
 ('La Culpa', 'SOMUYGI12AB0188633'),
 ('Auguri Cha Cha', 'SORAMLE12AB017C8B0'),
 ('Caught In A Dream', 'SOXLBJT12A8C140925'),
 ('Broken-Down Merry-Go-Round', 'SOWTBJW12AC468AC6E'),
 ('Synthetic Dream', 'SOZVMJI12AB01808AF'),
 ('The Urgency (LP Version)', 'SOKEJEJ12A8C13E0D0'),
 ('Kassie Jones', 'SOBEBDG12A58A76D60'),
 ('Tonight Will Be Alright', 'SOBONFF12A6D4F84D8'),
 ('Laws Patrolling (Album Version)', 'SOOLYAZ12A6701F4A6'),
 ('Do You Finally Need A Friend', 'SOGNCJP12A58A80271'),
 ('I Think My Wife Is Running Around On Me (Taco Hell)', 'SONYPOM12A8C13B2D7'),
 ('Setting Fire to Sleeping Giants', 'SOBBUGU12A8C13E95D'),
 ('It Makes No Difference Now', 'SOGXHEG12AB018653E'),
 ('James (Hold The Ladder Steady)', 'SOBLGCN12AB0183212'),
 ('Superconfidential', 'SOZQDIU12A58A7BCF6'),
 ('Crazy Mixed Up World', 'SOVYKGO12AB0187199'),
 ('Made Like This (Live)', 'SOPSWQW12A6D4F8781'),
 ('Setanta matins', 'SOZCTXZ12AB0182364'),
 ('The Emperor Falls', 'SOLLHMX12AB01846DC'),
 ('Spanish Grease', 'SOBZBAZ12A6D4F8742'),
 ('Twist and Shout', 'SOYTPEP12AB0180E7B'),
 ('¿Dónde va Chichi?', 'SOGOSOV12AF72A285E'),
 ('Baby Come To Me', 'SOZHPGD12A8C1394FE'),
 ('Knocked Out Of The Park', 'SOMVWWT12A58A7AE05'),
 ('Blessed Assurance', 'SOTUKVB12AB0181477'),
 ('It Wont Be Christmas', 'SOTTDKS12AB018D69B'),
 ('Wessex Loses a Bride', 'SODUJBS12A8C132150'),
 ('Salt In NYC', 'SOQVMXR12A81C21483'),
 ('Larger Than Life', 'SOPVXLX12A8C1402D5'),
 ('Erica (2005 Digital Remaster)', 'SOBBXLX12A58A79DDA'),
 ('OAKtown', 'SOQLGFP12A58A7800E'),
 ('Den Pai Alo', 'SOSLAVG12A8C13397F'),
 ('I Hold Your Hand In Mine [Live At Royal Albert Hall]',
  'SOAOIBZ12AB01815BE'),
 ('Get Your Head Stuck On Your Neck', 'SOPEGZN12AB0181B3D'),
 ('Jenny Take a Ride', 'SOXILUQ12A58A7C72A'),
 ('Loaded Like A Gun', 'SOOJPRH12A8C141995'),
 ('Sonnerie lalaleulé hi houuu', 'SOTCKKY12AB018A141'),
 ('Ten Tonne', 'SOGVQGJ12AB017F169'),
 ('Sono andati? Fingevo di dormire', 'SOBAYLL12A8C138AF9'),
 ('A Higher Place (Album Version)', 'SOFFKZS12AB017F194'),
 ('Kutt Free (DJ Volume Remix)', 'SOFNOQK12AB01840FC'),
 ('Rumba De Barcelona', 'SOBCOSW12A8C13D398'),
 ('Clementina Santafè', 'SOQOTLQ12AB01868D0'),
 ('Wild Rose (Back 2 Basics Mix)', 'SOBKWDJ12A8C13B2F3'),
 ('Got My Mojo Workin', 'SOLEYHO12AB0188A85'),
 ('Der Kleine Dompfaff', 'SOUPIRU12A6D4FA1E1'),
 ('Harajuku Girls', 'SORRZGD12A6310DBC3'),
 ('Intro', 'SOGDBUF12A8C140FAA'),
 ('The Ballad Of Sleeping Beauty', 'SONWXQJ12A8C134D94'),
 ('Native Soul', 'SONSKXP12A8C13A2C9'),
 ('Music is what we love', 'SOLYIBD12A8C135045'),
 ('Prognosis', 'SODAUVL12A8C13D184'),
 ('Midnight Star', 'SOSWKAV12AB018FC91'),
 ('A Whiter Shade Of Pale (Live @ Fillmore West)', 'SODREIN12A58A7F2E5'),
 ('Streets On Fire (Explicit Album Version)', 'SOWQTQZ12A58A7B63E'),
 ('City Slickers', 'SOINLJW12A8C13314C'),
 ('Living Hell', 'SOFCHDR12AB01866EF')]

In [32]:
query_number_of_songs = """
    SELECT COUNT(*) FROM songs_dim
"""

In [34]:
cur.execute(query_number_of_songs)
results = cur.fetchall()
results

[(71,)]

I.e., the full songs_dim table lists 71 titles.

### Query: List all artists in artists_dim

In [94]:
query_songs = """
    SELECT name, artist_id
    FROM artists_dim
"""

In [95]:
cur.execute(query_artists)
results = cur.fetchall()
results

[('Casual', 'ARD7TVE1187B99BFB1'),
 ('Clp', 'ARNTLGG11E2835DDB9'),
 ('Planet P Project', 'AR8ZCNI1187B9A069B'),
 ('Tweeterfriendly Music', 'AR10USD1187B99F3F1'),
 ('The Box Tops', 'ARMJAGH1187FB546F3'),
 ('Jeff And Sheri Easter', 'ARKFYS91187B98E58F'),
 ('Rated R', 'ARD0S291187B9B7BF5'),
 ('JennyAnyKind', 'ARGSJW91187B9B1D6B'),
 ('Adam Ant', 'AR7G5I41187FB4CE6C'),
 ('Gob', 'ARXR32B1187FB57099'),
 ('Sonora Santanera', 'ARKRRTF1187B9984DA'),
 ('Richard Souther', 'ARIG6O41187B988BDD'),
 ('Faiz Ali Faiz', 'AR1ZHYZ1187FB3C717'),
 ('Blue Rodeo', 'ARD842G1187B997376'),
 ('Andy Andy', 'ARL7K851187B99ACD2'),
 ('Bob Azzam', 'ARHHO3O1187B989413'),
 ('Tesla', 'ARYKCQI1187FB3B18F'),
 ('Jimmy Wakely', 'ARQGYP71187FB44566'),
 ('lextrical', 'ARNPAGP1241B9C7FD4'),
 ('Wayne Watson', 'ARC43071187B990240'),
 ('Alice Stuart', 'ARI3BMM1187FB4255E'),
 ('Lionel Richie', 'ARIK43K1187B9AE54C'),
 ("Mike Jones (Featuring CJ_ Mello & Lil' Bran)", 'AREBBGV1187FB523D2'),
 ('Terry Callier', 'ARB29H41187B98F0EF'),
 ('Tim Wilson', 'ARDNS031187B9924F0'),
 ('The Dillinger Escape Plan', 'ARMAC4T1187FB3FA4C'),
 ('Billie Jo Spears', 'AR0RCMP1187FB3F427'),
 ('SUE THOMPSON', 'AR47JEX1187B995D81'),
 ('Faye Adams', 'ARH4Z031187B9A71F2'),
 ('Five Bolt Main', 'ARGIWFO1187B9B55B7'),
 ('Elena', 'AR5KOSW1187FB35FF4'),
 ('John Wesley', 'AR1Y2PT1187FB5B9CE'),
 ('Willie Bobo', 'AROUOZZ1187B9ABE51'),
 ('The Shangri-Las', 'ARAJPHH1187FB5566A'),
 ('Sierra Maestra', 'ARGUVEV1187B98BA17'),
 ('Kenny G featuring Daryl Hall', 'AR9AWNF1187B9AB0B4'),
 ('John Davis', 'ARQ9BO41187FB5CF1F'),
 ('Glad', 'AR7ZKHQ1187B98DD73'),
 ('David Martin', 'ARMBR4Y1187B9990EB'),
 ('Nick Ingman;Gavyn Wright', 'ARI2JSK1187FB496EF'),
 ('Trafik', 'ARKULSX1187FB45F84'),
 ('Backstreet Boys', 'AR3JMC51187B9AE49D'),
 ('Eddie Calvert', 'AREDBBQ1187B98AFF5'),
 ('Christos Dantis', 'AROGWRA122988FEE45'),
 ('Tiny Tim', 'ARPBNLO1187FB3D52F'),
 ('Soul Mekanik', 'AREDL271187FB40F44'),
 ('Mitch Ryder', 'ARP6N5A1187B99D1A3'),
 ('Steel Rain', 'ARBGXIG122988F409D'),
 ('Blingtones', 'ARGSAFR1269FB35070'),
 ('Chase & Status', 'AR62SOJ1187FB47BB5'),
 ('Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti',
  'ARDR4AC1187FB371A1'),
 ('Tom Petty', 'ARBEBBY1187B9B43DB'),
 ('Jinx', 'ARNNKDK1187B98BBD5'),
 ('Los Manolos', 'AR7SMBG1187B9B9066'),
 ('Gloriana', 'ARGCY1Y1187B9A4FA5'),
 ('Bombay Rockers', 'AR36F9J1187FB406F1'),
 ('Pucho & His Latin Soul Brothers', 'ARAGB2O1187FB3A161'),
 ('Line Renaud', 'ARJIE2Y1187B994AB7'),
 ('Gwen Stefani', 'ARVBRGZ1187FB4675A'),
 ('40 Grit', 'AR558FS1187FB45658'),
 ('Sophie B. Hawkins', 'ARNF6401187FB57032'),
 ('Danilo Perez', 'AR0IAWL1187B9A96D0'),
 ('Wilks', 'AR051KA1187B98B2FF'),
 ('Steve Morse', 'ARWB3G61187FB49404'),
 ('Luna Orbit Project', 'ARULZCI1241B9C8611'),
 ('King Curtis', 'ARLTWXK1187FB5A3F8'),
 ('Lupe Fiasco', 'ARPFHN61187FB575F6'),
 ('Marc Shaiman', 'AR8IEZO1187B99055E'),
 ('Bitter End', 'AREVWGE1187B9B890A')]

In [96]:
query_number_of_artists = """
    SELECT COUNT(*)
    FROM artists_dim
"""

In [97]:
cur.execute(query_number_of_artists)
results = cur.fetchall()
results

[(69,)]

I.e., the full artists_dim table lists 69 artists.

### Query: Number of songplays with identifiable song title and artist

In [69]:
query_songplays_with_title_and_artist = """
    SELECT COUNT(logs.songplay_id), songs.title, logs.song_id, artists.name AS num_of_plays
    FROM songplays_fact AS logs
    INNER JOIN songs_dim AS songs ON logs.song_id = songs.song_id
    INNER JOIN artists_dim AS artists ON logs.artist_id = artists.artist_id
    GROUP BY logs.song_id, songs.title, artists.name
    ORDER BY COUNT(logs.songplay_id)
"""

In [71]:
cur.execute(query_songplays_with_title_and_artist)

In [72]:
results = cur.fetchall()
results

[(1, 'Setanta matins', 'SOZCTXZ12AB0182364', 'Elena')]

**This means that there is only one songplay in the logs for which we can both identify the song name and/or artist.** This is an artifact of the fact that we are working with a subset of the whole database as it was indicated in the project instructions.
Unfortunately, this also means that querying the number of songplays for almost any of the songs in `songs_dim` or the artists in `artists_dim` will yield empty results.

**Note:** We have added a similar query named as *Custom check* in `test.ipynb`.

### Query: Calculate the average duration of a song

A sensible way for Sparkify's analytical team to query the platform's user behavior would be to measure their respective "screentimes". Since it is currently not possible to determine the song duration for all songplays we can make a guess instead, and calculate the average song duration.
We take this average duration for each songplay.

In [73]:
query_avg_duration = """
    SELECT AVG(duration)
    FROM songs_dim
"""

In [74]:
cur.execute(query_avg_duration)

In [75]:
results = cur.fetchall()
results

[(Decimal('239.7296760563380282'),)]

When ETL'ing the full dataset, we obtain the average song duration of **239.7 seconds**.

### Query: Individual user's average screentime per day

In [87]:
query_individual_users_screentime_per_day = """
    SELECT logs.user_id, users.last_name, users.first_name, t.year, t.month, t.day, t.hour,
    239.7 * COUNT(logs.songplay_id) AS time_spent
    FROM songplays_fact AS logs
    INNER JOIN users_dim AS users ON logs.user_id = users.user_id
    INNER JOIN time_dim AS t ON logs.start_time = t.starttime
    GROUP BY logs.user_id, users.last_name, users.first_name, t.year, t.month, t.day, t.hour
    ORDER BY logs.user_id, users.last_name, users.first_name, t.year, t.month, t.day, t.hour
"""

In [88]:
cur.execute(query_individual_users_screentime_per_day)

In [89]:
results = cur.fetchmany(20)
results

[(2, 'Benjamin', 'Jizelle', 2018, 11, 6, 15, Decimal('239.7')),
 (2, 'Benjamin', 'Jizelle', 2018, 11, 6, 16, Decimal('1198.5')),
 (2, 'Benjamin', 'Jizelle', 2018, 11, 7, 15, Decimal('239.7')),
 (2, 'Benjamin', 'Jizelle', 2018, 11, 17, 10, Decimal('719.1')),
 (3, 'Valdez', 'Isaac', 2018, 11, 2, 20, Decimal('719.1')),
 (4, 'Terrell', 'Alivia', 2018, 11, 14, 3, Decimal('239.7')),
 (4, 'Terrell', 'Alivia', 2018, 11, 14, 13, Decimal('479.4')),
 (4, 'Terrell', 'Alivia', 2018, 11, 29, 3, Decimal('239.7')),
 (4, 'Terrell', 'Alivia', 2018, 11, 29, 17, Decimal('239.7')),
 (5, 'Davis', 'Elijah', 2018, 11, 27, 12, Decimal('719.1')),
 (5, 'Davis', 'Elijah', 2018, 11, 30, 19, Decimal('479.4')),
 (6, 'Owens', 'Cecilia', 2018, 11, 3, 23, Decimal('958.8')),
 (6, 'Owens', 'Cecilia', 2018, 11, 4, 4, Decimal('239.7')),
 (6, 'Owens', 'Cecilia', 2018, 11, 4, 11, Decimal('239.7')),
 (6, 'Owens', 'Cecilia', 2018, 11, 9, 2, Decimal('239.7')),
 (6, 'Owens', 'Cecilia', 2018, 11, 9, 15, Decimal('239.7')),
 (6, 'Owens', 'Cecilia', 2018, 11, 9, 16, Decimal('239.7')),
 (6, 'Owens', 'Cecilia', 2018, 11, 10, 14, Decimal('479.4')),
 (6, 'Owens', 'Cecilia', 2018, 11, 13, 10, Decimal('479.4')),
 (6, 'Owens', 'Cecilia', 2018, 11, 16, 5, Decimal('479.4'))]

Notice how each result is a multiple of 239.7. Of course, this method will be more accurate for heavy users, but we believe it is still a good guess under these circumstances.

# Close Connection to Sparkify Database

### Drop Tables and Close Connection

In [36]:
from create_tables import drop_tables
drop_tables(cur, conn)

In [85]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.